:root  {
    --standard-colour: black;
    --priority-colour: green;
    --completed-colour: darkblue;
}

.instruct {
    position: absolute;
    width: 100%;
    top: 250px;
    margin: 0px, 10px;
    z-index: 2010;
    background-color: inherit;
    border-radius: 5px;
    font-size: 1em;
}

.legend {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 10px;
    z-index: 2000;
    background-color: inherit;
    border-radius: 5px;
    font-size: .75em;
}

.standardColour {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--standard-colour);
}

.priorityColour {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--priority-colour);
}

.completedColour {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--completed-colour);
}