:root  {
    --standard-colour: black;
    --priority-colour: green;
    --completed-colour: darkblue;
}

.instruct {
    position: absolute;
    top: 60%;
    right: 6%;
    padding: 10px;
    /* left: auto; */
    width: 90vw;
    z-index: 2010;
    border-radius: 5px;
    background-color: inherit;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.legend {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px;
    z-index: 2000;
    background-color: inherit;
    border-radius: 5px;
    font-size: .7em;
}

.legend > div {
    display: flex;
    align-items: center;
}

.legend > div > span {
    padding: 0 8px;
}

.legend > div > div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.standardColour {
    background-color: var(--standard-colour);
}

.priorityColour {
    background-color: var(--priority-colour);
}

.completedColour {
    background-color: var(--completed-colour);
}

.formTitleClose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.formTitleClose label {
    margin-left: 8px;
}

.formTitleClose button {
    width: 20px;
    background: none;
    border: none;
    opacity: 75%;
    transition: all .3s;
}

.formTitleClose button:hover, .submitButton:hover {
    opacity: 100%;

}

.formTitleClose button img {
    width: 100%;
}

/* Popup Styling */
.errandTitle {
    margin-bottom: 8px;
}

